/* 首页头部 */
header {
    height: 680px;
    background: url(../images/banner.jpg) no-repeat top center;
}

.header_box {
    height: 680px;
    position: relative;
}

/* 主页nav字体颜色 */

.color {
    color: #fff;
}

nav li a {
    color: #c8c8c8;
}

nav li a:hover {
    color: #fff;
}

/* 首页banner */

header .switch {
    position: absolute;
    left: 50%;
    bottom: 85px;
    margin-left: -50px;
}

nav h1 a {
    background: url(../images/logo.png) no-repeat center;
}


.switch li {
    width: 40px;
    float: left;
    height: 3px;
    border-radius: 3px;
    background-color: #ccc;
}

.switch li:first-child {
    margin-right: 18px;
    background-color: #fff;
}

/* header结束 */
/* section 开始 */

section .more {
    box-sizing: border-box;
    height: 120px;
    background-color: #fff;
    margin: -40px auto 160px;
    padding: 25px 35px;
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
}

.more i,
span,
a {
    height: 70px;
    display: inline-block;
    vertical-align: middle;
}

.more span {
    width: 800px;
    font-size: 20px;
    color: #333;
    line-height: 70px;
    margin-left: 45px;
}

.more i {
    width: 80px;
    background: url(../images/1.jpg) no-repeat;
}

.more a {
    height: 38px;
    width: 150px;
    margin: auto 0;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #ff7200;
    border: 1px solid #ff7200;
    border-radius: 20px;
}

.pic {
    height: 700px;
}

.pic h2 {
    width: 390px;
    height: 86px;
    margin: 0 auto 70px;
    background: url(../images/h2.png);
}

.pic ul {
    display: flex;
    height: 400px;
}

.pic ul li {
    flex: 1;
}

.pic li:nth-child(n+2) {
    margin-left: 13px;
}

.pic li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}

.pic li:nth-child(1) {
    background: url(../images/1-1.jpg) no-repeat;
    transition: all .7s;
    background-size: 100%;
}

.pic li:nth-child(2) {
    background: url(../images/2-2.jpg) no-repeat;
    transition: all .7s;
    background-size: 100%;
}

.pic li:nth-child(3) {
    background: url(../images/3-3.jpg) no-repeat;
    transition: all .7s;
    background-size: 100%;
}

.pic li:nth-child(4) {
    background: url(../images/4-4.jpg) no-repeat;
    transition: all .5s;
    background-size: 100%;
}

.pic li span {
    display: block;
    color: #fff;
}

.pic li:nth-child(1) span:first-child {
    width: 90px;
    height: 90px;
    background: url(../images/cyx.png);
    margin: 110px auto 38px;
}

.pic li:nth-child(2) span:first-child {
    width: 90px;
    height: 90px;
    background: url(../images/cjf.png);
    margin: 110px auto 38px;
}

.pic li:nth-child(3) span:first-child {
    width: 90px;
    height: 90px;
    background: url(../images/cjr.png);
    margin: 110px auto 38px;
}

.pic li:nth-child(4) span:first-child {
    width: 90px;
    height: 90px;
    background: url(../images/cfl.png);
    margin: 110px auto 38px;
}

.pic li span:nth-child(2) {
    width: 100%;
    height: 30px;
    font-size: 28px;
    text-align: center;
    line-height: 30px;
}

.pic li span:nth-child(3) {
    width: 100%;
    height: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
}

.pic li span:nth-child(4) {
    width: 150px;
    height: 38px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    border-radius: 17px;
    margin: 20px auto 0;
    display: none;
}

.pic li span:nth-child(4)::after {
    content: "\ea52";
    font-family: "icomoon";
    display: inline-block;
    vertical-align: middle;
}

.pic li:hover:nth-child(1) {
    transform: scale(1.1, 1.1);
    background: url(../images/1-1.jpg) no-repeat;
    background-size: 100%;
    padding: 10px;
}

.pic li:hover:nth-child(2) {
    transform: scale(1.1, 1.1);
    background: url(../images/2-2.jpg) no-repeat;
    background-size: 100%;
    padding: 10px;
}

.pic li:hover:nth-child(3) {
    transform: scale(1.1, 1.1);
    background: url(../images/3-3.jpg) no-repeat;
    background-size: 100%;
    padding: 10px;
}

.pic li:hover:nth-child(4) {
    transform: scale(1.1, 1.1);
    background: url(../images/4-4.jpg) no-repeat;
    background-size: 100%;
    padding: 10px;
}

.pic li:hover a {
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px 10px rgba(174, 174, 174, 0.8);
}

.pic li:hover span:nth-child(4) {
    display: block;
}

.text {
    height: 910px;
    background-color: #ccc;
}

/* section结束 */
/* 行业开始 */

.industry {
    height: 910px;
    background: url(../images/37.jpg) no-repeat;
}

.industry h2 {
    width: 390px;
    height: 86px;
    margin: 0 auto 70px;
    background: url(../images/h3.png) no-repeat;
}

.bottom_nav {
    height: 50px;
    display: flex;
}

.bottom_nav div {
    flex: 1;
    font-size: 0;
    margin: 0 7px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    transition: all 0.2s linear;
    box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.5);
}

.bottom_nav div a {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 16px;
}

.bottom_nav div:hover a {
    color: #fff;
    border-radius: 25px;
    background-color: #FF7200;
}

.bottom_text {
    width: 1060px;
    margin: 100px auto 0;
    position: relative;
}

.bottom_text div {
    display: inline-block;
    box-sizing: border-box;
    width: 350px;
    height: 390px;
    padding: 80px 40px 0;
    background-color: #fff;
    transition: all .5s;
    box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.3);
}

.bottom_text span {
    display: block;
    width: 218px;
    height: 55px;
    margin: 0 auto;
}

.liantong span {
    background: url(../images/lt.png) no-repeat;

}

.yinglian span {
    background: url(../images/y.png) no-repeat;
}

.tengxun span {
    background: url(../images/t.png) no-repeat;
}

.bottom_text p {
    text-indent: 2em;
    margin-top: 40px;
    font-size: 12px;
    color: #333333;
    line-height: 30px;
}

.bottom_text i {
    display: block;
    width: 80px;
    margin: 65px auto 0;
    border-bottom: 2px solid #FF7200;
    display: none;
}

.bottom_text div:hover {
    transform: scale(1.3, 1.3);
}

.bottom_text div:hover i {
    display: block;
}

.bottom_text em {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
}

.bottom_text .left {
    left: -120px;
    margin-top: -26px;
    background: url(../images/ll.jpg);
}

.bottom_text .right {
    right: -120px;
    margin-top: -26px;
    background: url(../images/rr.jpg);
}

/* 行业结束 */
/* bottom_banner 结束 */

.bottom_banner a {
    width: 100%;
    height: 100%;
}

.bottom_banner {
    height: 330px;
    background: url(../images/bottombanner.jpg) no-repeat top center;
}

/* bottom_banner 结束 */